* {
    box-sizing: border-box;
  }
  #fir{
    text-align: center;
    background-color: aquamarine;
    color: Blue;
  }
  @media (max-width: 767px){
      .col-sm-12, .col-sm-6, .col-sm-4 {
          float: left;
      }
      .col-sm-4{
          float: left;
          width: 33.33%;

          height: 200px;
      }
      .col-sm-6{
          float: left;
          width: 50%;

          height: 200px;
      }
      .col-sm-12{
          float: left;
          width: 100%;

          height: 200px;
      }
  }
  @media (min-width: 768px) and (max-width: 991px) {
      .col-md-12, .col-md-6, .col-md-4 {
          float: left;
      }
      .col-md-4{
          float: left;
          width: 33.33%;

          height: 200px;
      }
      .col-md-6{
          float: left;
          width: 50%;

          height: 200px;
      }
      .col-md-12{
          float: left;
          width: 100%;

          height: 200px;
      }
  }
  @media (min-width: 992px){
      .col-lg-12, .col-lg-6, .col-lg-4 {
          float: left;
      }
      .col-lg-4{
          float: left;
          width: 33.33%;

          height: 200px;
      }
      .col-lg-6{
          float: left;
          width: 50%;

          height: 200px;
      }
      .col-lg-12{
          float: left;
          width: 100%;

          height: 200px;
      }
  }
      .row::after{
          display: table;
          clear: both;
          content: "";
      }
  #head{
      margin: 5px;
      text-align: center;
      background-color: rgb(0, 255, 229);
      color: blueviolet;
  }